<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores cCombinadores</title>
    <link rel="stylesheet" href="./../selectores-combinadores.css">
</head>
<body>
    <div>
        <p>Parrafo 1</p> <!--Estos parrrafo son descendientes e hijos de div-->
        
        <p>Parrafo 2</p>
        
        <section>
            <!--Este parrrafo es descendiente pero no es ni hijo ni adyacente a 
                ninguno por que esta en una seccion diferente -->
            <p>Parrafo 3</p>
        </section>
    </div>

    <p>Parrafo 4</p> <!--Este Parrafo es adyacente al parrafo 5-->
    <h1>Encabezado 1</h1>
    <p>Parrafo 5</p>
    
</body>
</html>